.buttonContainer-DHceWr 
{position: absolute;
 top: 0px;
 right: 71px;}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    margin: 0;
    width: 100px;
    color: #FFF;
    height: 26px;
    font-weight: 600;
    margin-top: 5px;
    border-radius: 3px;
    background: url(https://media.discordapp.net/attachments/679296386944073729/809447399239319582/-1_2.gif?width=676&height=676);
    background-size: contain;
}


.wordmarkWindows-1v0lYD {
    position: absolute;
    top: -1px;
    left: 0;
    padding: 7px 19px 3px;
    color: #ef00ff00;
    background-image: url(https://media.discordapp.net/attachments/679296386944073729/809782864799203338/unknown.png?width=782&height=171);
    background-position-x: -374px;
    background-position: center;
    background-size: 101%;
}


.backgroundFlash-24qWLN {
    -webkit-box-flex: 16;
    -ms-flex: 0 0 auto;
    flex: 66 41 auto;
    padding-right: unset;

    width: 90%;
}
.element.style {
    background-color: rgb(222, 71, 240);
    width: 16px;
}
.typeWindows-1za-n7 {
    padding: 5px 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
   /* background-image: url(https://media.discordapp.net/attachments/679296386944073729/809782425773277204/unknown.png);*/
    background-position-x: -374px;
    background-position: center;
    background-size: 100%;
}
.isUnread-3Ef-o9 {
    border-color: rgba(219, 0, 235, 0);
}
.unreadPill-2HyYtt {
    background-color: rgba(219, 0, 235, 0);
    padding-right: 2%;
}

.chatContent-a9vAAp { margin-right: -12px;}
.badge-1JXQev {
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 14px;
    height: 14px;
    padding: 2px;
    background-color: #292b2f00;
    color: #ffffffbd;
    border-radius: 50%;
    background: url(https://cdn.discordapp.com/attachments/679296386944073729/807270253565575188/-1_2.gif);
    background-position: center;
    background-size: 100%;
}
.icon-3Oovq9 {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 34px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    font-weight: 700;
    color: #fff;
    background: url(https://cdn.discordapp.com/attachments/535177813708505108/813314938495303710/oSumAtrIX.gif);
    background-size: 91%;
}
.theme-dark .art-1qgogX {
    background-image: url(https://media.discordapp.net/attachments/376238948487266304/813301332856668180/Nya_arigato_You_can_eat_the_girlV2.gif);
}
.art-1qgogX {
    display: inline-block;
    margin: -60px auto 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 100px;
}
:root {
  --hover-animation-speed: 0.35s;
  --seperator-color: var(--background-accent);
}
.members-1998pB {
  transition: transform var(--hover-animation-speed);
}
.membersWrap-2h-GB4 {
 min-width: unset;
 width: 40px;
 justify-content: left;
}
.content-3QAtGj .subText-1KtqkB {
 display: none;
}
.membersWrap-2h-GB4:hover .members-1998pB {
  transform: translateX(-260px);
}
.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
  background-color: unset;
  margin-left: 0px;
  transition: margin-left var(--hover-animation-speed);
}
.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
  margin-left: 15px;
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
  transform: translateX(2px);
}
.membersWrap-2h-GB4 .membersGroup-v9BXpm {
  cursor: default;
  transform: translateX(-10px);
  transition: transform var(--hover-animation-speed);
  overflow: inherit;
}
.members-1998pB {
    border-radius: 18px 18px 18px 18px !important;
    left: 37px;
    margin-top: 100px;
    margin-bottom: 15px;
    background: url(https://i.pinimg.com/originals/4e/30/c9/4e30c95dc885f880a2c2797fdee0e042.gif)!important;
    background-size: cover!important;
box-shadow: 0 0 10px rgba(214, 74, 255, 0.5);
}
::-webkit-scrollbar {
 display: none;
}
.membersWrap-2h-GB4 {
left: 45px;
margin-right: 40px;
bottom: 75px;
background-color: rgba(216, 27, 27, 0);
}
.theme-light .chatContent-a9vAAp {
background-color: transparent;
border-radius: 0 15px 0 0 !important;
margin-left: -0px;
margin-right: 15px;
}
.theme-dark .chatContent-a9vAAp {
  background-color: transparent;
  border-radius: 0 15px 0 0 !important;
  margin-left: -10px;
  margin-right: -10px
  }
.channelTextArea-rNsIhG, .channelTextArea-2VhZ6z {
    margin-left: 25px;
}
.base-gE7OpD {
  right: -0px;
}
.buttons-3JBrkn {
  position: relative;
  left: -1px
}
#bd-pub-button { display:none; }
