.buttonContainer-DHceWr 
{position: absolute;
 top: 0px;
 right: 71px;}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    margin: 0;
    width: 100px;
    color: #FFF;
    height: 26px;
    font-weight: 600;
    margin-top: 5px;
    border-radius: 3px;
    background: url(https://media.discordapp.net/attachments/679296386944073729/809447399239319582/-1_2.gif?width=676&height=676);
    background-size: contain;
}


.wordmarkWindows-1v0lYD {
    position: absolute;
    top: -1px;
    left: 0;
    padding: 7px 19px 3px;
    color: #ef00ff00;
    background-image: url(https://media.discordapp.net/attachments/679296386944073729/809782864799203338/unknown.png?width=782&height=171);
    background-position-x: -374px;
    background-position: center;
    background-size: 101%;
}


.backgroundFlash-24qWLN {
    -webkit-box-flex: 16;
    -ms-flex: 0 0 auto;
    flex: 66 41 auto;
    padding-right: unset;
    width: 90%;
}
.element.style {
    background-color: rgb(222, 71, 240);
    width: 16px;
}
.typeWindows-1za-n7 {
    padding: 5px 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
    background-image: url(https://media.discordapp.net/attachments/679296386944073729/809782425773277204/unknown.png);
    background-position-x: -374px;
    background-position: center;
    background-size: 100%;
}
.isUnread-3Ef-o9 {
    border-color: rgba(219, 0, 235, 0);
}
.unreadPill-2HyYtt {
    background-color: rgba(219, 0, 235, 0);
    padding-right: 2%;
}
.platform-win .sidebar-2K8pFh {
    border-radius: 8px 0 0;
    overflow: hidden;
    width: 10px;
    min-width: unset;
    transition: .3s;
    .membersWrap-2h-GB4: hover;
}
.platform-win .sidebar-2K8pFh {
    width: 3.5%;
    transition: 1s;
}

div.sidebar-2K8pFh:hover { width: 240px; }
div.membersWrap-2h-GB4:hover { width: 240px; }

.membersWrap-2h-GB4 .members-1998pB {
    width: 220px;
    height: calc(100% - 69px);
    padding-bottom: 40px;
    padding: 0px 60px 10px;
}
