@keyframes reacti
{
    100%{box-shadow: 0px 0px 50px -10px rgba(255, 41, 248, 0.616)}
    50% {box-shadow: 0px 0px 50px -5px rgba(255, 41, 248, 0.616)}
    0%  {box-shadow: 0px 0px 0px 0px rgba(255, 41, 248, 0.616)}
}
@keyframes avatar-3mTjvZ
{
    100%{border:2px solid #ff00ff}
    50% {border:2px solid #ff00ff00}
    0%  {border:2px solid #ff00ff}
}
.avatar-3mTjvZ {
animation: 10s infinite avatar-3mTjvZ;
}
.mainContent-20q_Hp:hover{box-shadow: 20px 0px 50px 0px rgba(255, 41, 248, 0.616)!important}
.mainContent-20q_Hp{transition: 0.5s ease;}
.lookBlank-21BCro:hover{background:rgba(255, 41, 248, 0.616)!important;transition: 0.5s;}

.reaction-2A2y9y{transition:0.5s;}
.reaction-2A2y9y:hover{animation: 1s normal reacti;background-color: rgba(92, 91, 91, 0);transition:0.5s;}
.layout-1qmrhw{background: transparent;border-radius: 5px;transition:0.5s!important;}
.layout-1qmrhw:hover{border-radius: 5px;transition:1s;background-color:#636363d1!important;}
.typeWindows-2-g3UY {
    padding: 5px 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
    background-image: url(https://media.discordapp.net/attachments/679296386944073729/809782425773277204/unknown.png)!important; 
    background-position-x: -374px;
    background-position: center;
    background-size: 100%;
}
.wordmarkWindows-2dq6rw {
    position: absolute;
    top: -1px;
    left: 0;
    padding: 7px 19px 3px;
    color: #ef00ff00;
    background-image: url(https://);
    background-position-x: -374px;
    background-position: center;
    background-size: 101%;
}
/* New Year */
.scrollableContainer-15eg7h {
    overflow-x: hidden;
    overflow-y: scroll;
    /*background: url(https://cdn.discordapp.com/attachments/827953319724449843/923165186964217927/IndelibleDigitalFly-size_restricted.gif);*/
    max-height: 50vh;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-size: 17%;
    scrollbar-width: none;
}
.popoutBanner-3cqRD9
{
    background: url(https://cdn.discordapp.com/attachments/827953319724449843/923165186964217927/IndelibleDigitalFly-size_restricted.gif);
    width: 300px;
    height: 60px;
    background-size: 53%;
}
.channelTextArea-1FufC0 {
    margin-bottom: 24px;
    background-color: #a743b9b8;
}
.mainContent-20q_Hp[data-list-item-id="channels___535177625505759233"]{
background: url(https://cdn.discordapp.com/attachments/827953319724449843/923165186964217927/IndelibleDigitalFly-size_restricted.gif);
background-size: cover;
}
