@import url("https://anilvia.github.io/DuploTheme/SPcore.css");
@import url("https://anilvia.github.io/DuploTheme/SDE.css");
@import url("https://anilvia.github.io/DuploTheme/IND.css");
@import url("https://anilvia.github.io/DuploTheme/UsTAG.css");
@import url('https://anilvia.github.io/DuploTheme/Fonts.css');
@import url('https://anilvia.github.io/DuploTheme/HSW.css');
@import url('https://anilvia.github.io/DuploTheme/Radial.css');
@import url('https://anilvia.github.io/DuploTheme/COntB.css');
\\@import url('https://anilvia.github.io/DuploTheme/SRC.css');\\
:root {
--scrollbar-thin-thumb: #00000000;
    --scrollbar-thin-track: #b613de1c;
    --scrollbar-auto-track: #00000000;
    --scrollbar-auto-thumb: #b613de00;
    --scrollbar-auto-scrollbar-color-track: #00000000;
--themeColor1: rgba(219,0,235,0.95);
--themeColor2: rgba(0,64,255,0.95);
--customFont: 'Open Sans', sans-serif;
--homeImage: url('https://cdn.discordapp.com/attachments/679296386944073729/807270253565575188/-1_2.gif');
--backgroundColor: rgba(13,13,13,0.8);
--backgroundImage: url('https://media.discordapp.net/attachments/679296386944073729/806905113552879656/cebb7155a4854bb7.png');
--backgroundBlur: 8px;
--backgroundOpacity: 0.10;

--rs-small-spacing: 0px;
--rs-large-spacing: 1px;
--rs-width: 2px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-streaming-color: #643da7;
--rs-offline-color: #636b75;
--rs-invisible-color: #e100ff;

--HSL-server-icon-size: 42px;
--HSL-server-spacing: 6px;
 }
.buttonContainer-DHceWr
 {
    position: absolute;
    top: 0px;
    right: 71px;
}
.searchBar-3dMhjb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 24px;
    width: 144px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: text;
    overflow: hidden;
    padding: 0 2px;
    color: #dcddde;
    background-color: #202225a6;
    background: url(https://media.discordapp.net/attachments/376238948487266304/813301332856668180/Nya_arigato_You_can_eat_the_girlV2.gif?width=662&height=373);
    background-size: 44%;
}
