.platform-win .sidebar-2K8pFh {border-radius: 8px 0 0;overflow: hidden; width: 10px; min-width: unset;transition: 1s;}
.platform-win .sidebar-2K8pFh {width: 45px;transition: 1s;}
div.sidebar-2K8pFh:hover { width: 240px; }
