
.container-2wlB3z {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #2f313600!important;
    height: 100%;
}
/*Update*/
.childWrapper-1j_1ub{background:url('https://cdn.discordapp.com/attachments/679296386944073729/807270253565575188/-1_2.gif');background-size:cover;}.homeIcon-r0w4ny{display: none;}
.appMount-2yBXZl, body {
    background: url(https://phonoteka.org/uploads/posts/2021-06/1624389069_38-phonoteka_org-p-oboi-anime-kosmos-krasivo-42.jpg);
    text-rendering: optimizeLegibility;
}
.sidebar-1tnWFu {
    flex-direction: column;
    min-height: 0;
    width: 240px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: #2f31365e;
}
.chat-2ZfjoI {background: #181a1f6b;}
