
.container-2wlB3z {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #2f313600!important;
    height: 100%;
}

