/*PlatformIN*/
#app-mount .friendsOnline-2JkivW {
    position: absolute!important;
    transform: translate(-50%, 50%)!important;
    top: 15px!important;
    left: -28px!important;
    width: calc(var(--server-size) + var(--server-spacing))!important;
    display: flex!important;
    justify-content: center!important;
}
